# Endpoint e credenciais do cluster Kafka (API key do cluster)
BOOTSTRAP_SERVERS=pkc-xxxxx.region.provider.confluent.cloud:9092
KAFKA_API_KEY=
KAFKA_API_SECRET=

# Endpoint e credenciais do Schema Registry (API key própria do Schema Registry)
SCHEMA_REGISTRY_URL=https://psrc-xxxxx.region.provider.confluent.cloud
SCHEMA_REGISTRY_API_KEY=
SCHEMA_REGISTRY_API_SECRET=

INPUT_TOPIC=produtos_raw
